

.dialogues{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogueItems {
    padding: 10px;
    color: white;

}
.dialogueItems .active{
    color: rgb(171, 223, 230);
}
.dialogueItems .dialogue{

}

.messages{
    padding: 10px;
}


.messages .message{
color: white;
}