.item img{
    width:20px;
    height: 20px;
    font-size: 15px;
}
.item {
    color:white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;  */
    width: 100px; 
    height: 100px;
    margin: auto;
}

