.nav {
  grid-area: n;
  background-color: rgb(175, 60, 164);
  padding: 20px;
  text-align: left;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: rgb(158, 218, 190);
}
.friends {
  margin-top: 70px;
}

.friendsPics img {
  width: 25px;
  height: 25px;
  border-radius: 90%;
  margin-top: 10px;
  color: #00539f;
}
.friendsPics {
  display: flex;

  color: white;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  font-size: 10px;
}

.friendsPic {
}

.friendsName {
}
